/* 
======================================
FONTES
======================================
*/

/* LOCAL */

@font-face{
  font-family: "Quicksand";
  src: url(../fonts/Quicksand-VariableFont_wght.ttf) format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face{
  font-family: "Cormorant Garamond";
  src: url(../fonts/CormorantGaramond-VariableFont_wght.ttf) format("truetype");
  font-weight: 700;
  font-style: bold;
}

/* 
======================================
VARIÁVEIS
======================================
*/

:root{
  /* CORES */

  --cor-fundo-1: #6c6a6a;
  --cor-fundo-2: #9aa63f;
  --cor-fundo-3: #52591e;
  --cor-primaria: #9aa63f;
  --cor-secundaria: #52591e;
  --cor-secundaria2: #d4d9b0;
  --cor-texto: #d8f870;
  --cor-texto2: #d4d9b0;
  --cor-titulo: #d4d9b0;
  --cor-titulo2: #52591e;
  --cor-subtitulo: #f2f2f2;
  -cor-subtitulo2: #9aa63f;

  /* FONTES */

  --fonte-texto: "Cormorant Garamond";
  --fonte-titulo: "Quicksand";
}

h2{
  font-family: var(--fonte-titulo);
  font-size: 30px;
  color: var(--cor-titulo2);
}

h3{
  font-family: var(--fonte-texto);
  font-size: 40px;
  color: var(--cor-primaria);
}

p{
  font-family: var(--fonte-texto);
  font-size: 30px;
  color: var(--cor-texto);
}
main{
    background: var(--cor-fundo-1);
}
h1, h2, h3, h4, h5, h6, ul{
    font-family: var(--fonte-titulo);
    color: var(--cor-primaria);
}
h3{
    color: var(--cor-secundaria-1);
}
p, a{
    font-family: var(--fonte-texto);
    color: var(--cor-subtitulo) !important;
}
.app-header{
    background-color: #0b0b0b !important;
}
.app-sidebar{
    background: #0b0b0b !important;
}
.sidebar-brand{
    height: 100px;
}
.sidebar-brand .brand-link .brand-image{
    width: 150px;
    max-height: none;
}
.breadcrumb a{
    color: var(--cor-primaria);
}

.breadcrumb-item.active{
    color: var(--cor-secundaria-2);
    font-family: var(--fonte-texto);
}

.text-bg-primary, .text-bg-success, .text-bg-warning, .text-bg-danger{
    background-color: var(--cor-primaria) !important;
}

.link-dark{
    color: var(--cor-secundaria-1) !important;
}
.link-light{
    color: var(--cor-fundo-1) !important;
}
.app-footer{
    background-color: var(--cor-fundo-2);
    font-family: var(--fonte-texto);
    color: var(--black-fundo-1);
}

/* Estilização das tabelas */
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  color: var(--bs-table-color-state, var(--bs-table-color-type, var(--cor-texto)));
  background-color: var(--cor-fundo-1);
  border-bottom-width: var(--bs-border-width);
  box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state, var(--bs-table-bg-type, #f7f7f700));
}

.table-hover > tbody > tr:hover > * {
  --bs-table-color-state: var(--cor-subtitulo);
  --bs-table-bg-state: var(--bs-table-hover-bg);
}

.text-bg-warning, .text-bg-danger {
    color: var(--cor-fundo-1) !important;
  background-color: var(--cor-primaria) !important;
}
.text-bg-success {
  background-color: var(--cor-primaria) !important;
}

.card {
  --bs-card-bg: var(--cor-secundaria-1);
}

.card-title {
  font-family: var(--fonte-titulo);
  color: #000000;
  float: left;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 400;
}

.input-group-text {
  background-color: var(--cor-primaria);
  border: var(--bs-border-width)  solid var(--cor-primaria);
}

.form-control {
  background-color: black;
  border: var(--bs-border-width) solid black;
}

.form-select {
  background-color: black;
  border: var(--bs-border-width) solid black;
}

.btn-primary {
  --bs-btn-color: var(--cor-fundo-1) ; 
  --bs-btn-bg: var(--cor-primaria) ;
  --bs-btn-border-color: var(--cor-primaria) ;
  --bs-btn-hover-color: #fff ;
  --bs-btn-hover-bg: var(--cor-secundaria-2) ;
  --bs-btn-hover-border-color: var(--cor-secundaria-2) ;
  --bs-btn-focus-shadow-rgb: 49, 132, 253 ;
  --bs-btn-active-color: #f00 ;
  --bs-btn-active-bg: rgb(109, 111, 113) ;
  --bs-btn-active-border-color: var(--cor-primaria) ;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) ;
  --bs-btn-disabled-color: var(--cor-primaria) ;
  --bs-btn-disabled-bg: #000000 ;
  --bs-btn-disabled-border-color: #000000 ;
}

.btn-outline-secondary {
  --bs-btn-color: var(--cor-secundaria-1);
  --bs-btn-border-color: var(--cor-secundaria-1);
  --bs-btn-hover-color: var(--cor-primaria);
  --bs-btn-hover-bg: var(--cor-secundaria-1);
  --bs-btn-hover-border-color: var(--cor-primaria);
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: var(--cor-secundaria-1);
  --bs-btn-active-bg: var(--cor-primaria);
  --bs-btn-active-border-color: var(--cor-primaria);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--cor-primaria);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--cor-primaria);
  --bs-gradient: none;
}

.pagination {
    color: var(--cor-texto);
  --bs-pagination-padding-x: 0.75rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: var(--cor-texto);
  --bs-pagination-bg: var(--cor-secundaria-2);
  --bs-pagination-border-width: var(--bs-border-width);
  --bs-pagination-border-color: var(--cor-primaria);
  --bs-pagination-border-radius: var(--bs-border-radius);
  --bs-pagination-hover-color: var(--cor-secundaria-2);
  --bs-pagination-hover-bg: var(--cor-primaria);
  --bs-pagination-hover-border-color: var(--cor-primaria);
  --bs-pagination-focus-color: rgb(230, 230, 230);
  --bs-pagination-focus-bg: #020202;
  --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: var(--cor-primaria);
  --bs-pagination-active-border-color: var(--cor-secundaria-2);
  --bs-pagination-disabled-color: var(--bs-secondary-color);
  --bs-pagination-disabled-bg: #1e4b2a;
  --bs-pagination-disabled-border-color: var(--cor-primaria);
  display: flex;
  padding-left: 0;
  list-style: none;
}


.text-body-secondary {
  --bs-text-opacity: 1;
  color: rgba(0, 0, 0, 0.75) !important;
}